.home {
   height: 100%;
}

.businessInfo {
   font-size: clamp(15px, 2.5vw, 2.5vw);
   background-color: rgb(15, 15, 15);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   height: auto;
   font-size: 60px;
}

.label {
   margin: auto;
   font-weight: 100;
   text-decoration: underline;
}

#addLink {
   color: rgb(230, 230, 230);
   text-decoration: none;
   width: 17vw;
   background: none;
}

#addLink :hover {
   color: rgb(202, 74, 224);
   text-decoration: underline;
   background: none;    
}

.details {
   margin: auto;
   color: rgb(230, 230, 230);
   text-decoration: none;
   font-size: clamp(2vw, 3vw, 3.1vw);
}

#socImage {
   height: clamp(15px, 4vh, 4.2vh);
   width: auto;
   border-radius: 25%;
}

.soc {
   display: flex;
   margin: auto;
   align-items: center;
   color: rgb(230, 230, 230);
   text-decoration: none;
   font-size: clamp(1.3vw, 2vw, 2vw);
}



.main {
   display: flex;
   flex-direction: column;
   position: absolute;
}

.background {
   width: 100%;
   height: auto;
}

#email {
   text-decoration: none;
}