.background {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0px;
   filter: brightness(40%);
   z-index: -1;
}

.info {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   font-size: 8vw;
}

.blackBark {
   position: relative;
   top: auto;
   margin: 0px;
   font-size: 1em;
   font-family: "Road Rage", sans-serif;
   font-style: normal;
   font-weight: normal;
   color: rgb(230, 230, 230);
}
.imgAndEst {
   display: flex;
   flex-direction: column; 
   align-items: center;
   margin-bottom: 200px;
}

.logo {
   width: clamp(25vw, 30vw, 35vw);
   height: auto;
   rotate: -0.25deg;
   margin: 0px;
}

.est {
   position: relative;
   font-size: clamp(2vw, 3vw, 3vw);
   font-weight: 100;
   height: 1px;
   padding: -130vw;
}

.comingSoon {
   margin: 0px;
   font-size: 17vh;
   text-decoration: none;
   font-style: normal;
   font-weight: 100;
}

.footerInfo {
   position: absolute;
   bottom: 10px;
   left: 10px;
   display: flex;
   flex-direction: column;
}

.check {
   margin: auto;
   letter-spacing: 3px;
   font-size: 4.4em;
   margin-bottom: 4px;
}

.socialMedia {
   display: flex;
   flex-direction: row;
   align-items: center;
}

#socImage {
   height: 55px;
   width: auto;
   border-radius: 25%;
   margin-right: 15px;
}

.soc {
   display: flex;
   flex-direction: row;
   margin-left: 0px;

}

p {
   margin: 0px;
}
