.background {
   width: 100%;
   height: auto;
   position: fixed;
   top: 0px;
   filter: brightness(40%);
}

h1 {
   font-size: 8vi;
   font-weight: 100;
   margin-top: auto;
   margin-bottom: auto;
}

.info {
   position: absolute;
   top: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 12px;
   width: 100%;
}

.blackBark {
   font-size: 120px;
   font-family: "Road Rage", sans-serif;
   font-style: normal;
   font-weight: normal;
   color: rgb(230, 230, 230);
}

.logo {
   height: auto;
   width: 350px;
   z-index: 2;
   rotate: -0.25deg;
   margin-top: -30px;
}

.est {
   margin-top: -75px;
   font-size: 40px;
   font-weight: 100;
}

.soon {
   font-size: 170px;
   text-decoration: none;
   font-style: normal;
   font-weight: 100;
   margin-top: -10px;
}

.footerInfo {
   margin-left: 20px;
}

#socImage {
   height: 25px;
   width: auto;
   border-radius: 25%;
   margin-right: 5px;
   margin-left: 15px;
}

.footer {
   position: relative;
}

.soc {
   color: rgb(230, 230, 230);
   text-decoration: none;
   font-size: 25px;
}

.follow {
   font-size: 65px;
   margin: auto;
   margin-left: 15px;
   margin-bottom: 3px;
   text-decoration: underline;
   text-decoration-thickness: 8px;
   letter-spacing: 3px;
}

#handle {
   font-size: 30px;
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 0px;
}
