.about-grid-container {
    display: grid;
    grid-template-columns: 12;
    grid-template-rows: 4;
}

.rico {
    height: 25vh;
    width: auto;
    border-radius: 10%;
}
.jon {
    height: 25vh;
    width: auto;
    border-radius: 10%;
}