.about {
   display: flex;
   flex-direction: row;
   align-items: center; 
   justify-content: center;
   width: 100vw;
   height: 23rem;
   background-color: rgb(15, 15, 15);
   margin-bottom: 0px;
}

.rico {
   display: flex;
   flex-direction: row;
}

p {
   font-size: clamp(20px, 1.8vw, 1.8vw);
   width: 28vw;
   margin: 20px;
}

.ricoImage {
   height: 15rem;
   width: auto;
   border-radius: 10%;
   margin-bottom: 60px;
}

.jon {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.jonImage {
   height: 25vh;
   width: auto;
   border-radius: 10%;
}