body {
<<<<<<< HEAD
  font-family: "Road Rage", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(230, 230, 230);
}

.background {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}
.tint {
  position: fixed;
  z-index: -1;
  background-color: black;
  height: 100vh;
  width: 100vw;
  opacity: 50%;
}
=======
     font-family: "Road Rage", sans-serif;
   font-style: normal;
   font-weight: normal;
   color: rgb(230, 230, 230);
}
>>>>>>> 99b5d8410caa5689fb5dd4a991204e756492e763
