.Main {
  margin: auto;
}

.nameSpan {
  position: absolute;
}

.blackBark {
  font-size: 6vw;
  font-family: "Road Rage", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(230, 230, 230);
}
.logo {
  height: auto;
  width: 19vw;
  rotate: -1deg;
}

.heading {
  position: fixed;
  top: 0%;
  right: 0%;
}

.item {
  font-size: 3.5vi;
  font-family: "Road Rage", sans-serif;
  font-style: normal;
  font-weight: normal;
  border: none;
  background: none;
  color: rgb(230, 230, 230);
  min-width: 5vw;
  width: 9vw;
  min-height: 30px;
  height: 4vw;
}

.item:hover {
  background-color: rgb(44, 44, 44);
}

#about {
  margin-right: 2px;
}

.hours {
  position: fixed;
  background: none;
  font-size: 2vw;
  font-family: "Road Rage", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(230, 230, 230);
}

.day {
  margin: auto;
  display: flex;
  justify-content: left;
}

.address {
  position: fixed;
  bottom: 1%;
  right: 1%;
  background: none;
  font-size: 2vw;
  font-family: "Road Rage", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(230, 230, 230);
}
.add {
  display: flex;
  justify-content: right;
  margin: auto;
}

.socialImages {
  position: relative;
  bottom: -670px;
}

.followUs {
  font-family: "Road Rage", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(230, 230, 230);
  font-size: 29px;
  margin-bottom: 3px;
}

.fb {
  height: 30px;
  min-height: 20px;
  margin-right: 8px;
  border-radius: 25%;
}

.insta {
  height: 30px;
  min-height: 20px;
  border-radius: 25%;
}
